<h1>MY PAGE</h1>
<%= image_tag @user.image_url, size: "250x187" %>
<p>名前 : <%= @user.name %></p>
<p>メールアドレス : <%= @user.email %></p>
<p>プロフィール : <%= @user.profile %></p>
<p>好きなジャンル：<%= @user.like_genre %></p>
<p>好きなアーティスト：<%= @user.like_artist %></p>
<% if current_user.id == @user.id %>
  <%= link_to "編集する", edit_user_registration_path %>
<% end %>



<h2>ユーザーの投稿一覧</h2>
<% @user.songs.each do |t| %>
  <%= t.user.name %>
  <%= t.name %>
<% end %>

<!-- 以下はいいね機能を実装している場合-->
<h2>ユーザーがいいねした投稿一覧</h2>
<% @user.liked_songs.each do |t| %>
  <%= t.user.name %>
  <%= t.name %>
<% end %>


<%= link_to "一覧に戻る", songs_path %>

<h1>ユーザー詳細ページ</h1>

<div class="user-in">
<h2><%= @user.email %></h2>

<% if @user.id == current_user.id %>
    <%= yield %>
<% else %>
    <% if @isRoom == true %>
        <p><%= link_to '新たな仲間とお話ししよう！', room_path(@roomId) %></p>
    <% else %>
        <%= form_for @room do |f| %>
            <%= fields_for @entry do |e|%>
                <% e.hidden_field :user_id, value: @user.id %>
            <% end %>
        <%= f.submit "DMを開始する"%>
        <% end %>
    <% end %>
<% end %>
</div>


<%= link_to "ユーザー一覧に戻る", users_path %>



<style>
.user-in{
    width:300px;
    padding:10px;
    margin:10px;
    text-align:center;
    border:1px solid darkgray;
    background-color:gainsboro;
}
</style>
